* /*reset css */
{
  margin:0;
  padding:0;
  border:0;
}

html, body
{
	height: 100%;
}

body
{
	display : table;
	width: 100%;
}

footer /* fix footer in the bot on the page*/
{
	display : table-row;
}

header img
{
  height: 200px;
  width: 150px;
  margin-top: 1em;
  margin-left: 2em;
  margin-bottom: 1em;
}

header img , h1
{
  display: inline-block;
  vertical-align: middle;
}

h1
{
  margin-left: 20em;
}

nav li
{
  display: inline-block;
  margin-right: 15em;
  margin-top: 1em;
  color: white;
  padding: 1em;
}

.left /* move first element in right*/
{
  margin-left: 20em;
}


nav
{
  width: 100%;
  background-color: #b2b2b2;
}
