* /*reset css */
{
  margin:0;
  padding:0;
}

html, body
{
	height: 100%;
}

body
{
	display : table;
	width: 100%;
}

footer /* fix footer in the bot on the page*/
{
	display : table-row;
  background-color: #b2b2b2;
  height: 3em;
}

footer li
{
  display: inline-block;
  vertical-align: middle;
  margin-right: 3em;
  margin-top: 1em;
}

header img
{
  height: 200px;
  width: 150px;
  margin-top: 1em;
  margin-left: 2em;
  margin-bottom: 1em;
}

header img , h1 /*inline element from header */
{
  display: inline-block;
  vertical-align: middle;
}

h1
{
  margin-left: 20em;
}

.firstnav li /*inline element from list*/
{
  display: inline-block;
  margin-right: 15em;
  margin-top: 1em;
  padding: 1em;
}

.left /* move first element in right*/
{
  margin-left: 22em;
}


nav /*style for nav*/
{
  width: 100%;
  background-color: #b2b2b2;
}

a
{
  color: white;
  text-decoration: none;
}

a:hover /*hover a css*/
{
  color: black;
  text-decoration: underline;
}

.main /*main section from page*/
{
  width: 100%;
  background-color: #E0DEDD;
  min-height: 40em;
}

.main , .mid /*main and mid inline-block index.html*/
{
  display: inline-block;;
}

.mid /*section for all element in the page*/
{
  width: 70%;
  margin-left: 15%;
  background-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
}

.mid h2 /*h2 from index.html*/
{
  text-align: center;
  margin-bottom: 1em;
}

figure /*figure from index.html*/
{
  display: inline-block;
  margin-left: 12em;
  margin-top: 3em;
}

figure img /*figure img from index.html*/
{
  height: 170px;
  width: 170px;
  margin-right: 5.5em;
  margin-bottom: 1em;
}

figcaption /*figcpation from index.html*/
{
  display: inline-block;
    margin-left: 12em;
}

figcaption h2 /*legend from index.html*/
{
  width:170px;
  display: inline-block;
  margin-right: 3.7em;
  margin-top: 1em;
  vertical-align: middle;
}

hr
{
  height: 2px;
  width: 83%;
  background-color: grey;
  margin-left: 10%;
}

.mid ul /*ul from mid in index.html */
{
  margin-top: 2em;
  margin-bottom: 1em;
}

.mid ul li /* mid li from index.html*/
{
  list-style-type:square;
  margin-left: 5em;
}

.domain /*p from index.html*/
{
  text-align: center;
  margin-top: 2em;
}

.tarif /*table from tarif.html*/
{
  border-collapse: collapse;
  margin-left: 9em;
  margin-top: 2em;
}

.tarif th,.tarif td /*th td from table from tarif.html*/
{
  border: 1px solid black;
  width:22em;
  height: 3em;
  text-align: center;
}

label /*label from contact.html*/
{
  display: inline-block;
  width: 100px;
  margin-left: 5em;
  vertical-align: top;
}

label,input /*margin in label input from contact.html*/
{
  margin-bottom: 2em;
}

form , iframe
{
  display: inline-block;
  vertical-align: top;
}

iframe /*google map*/
{
  border:0;
  width: 30em;
  height: 25em;
  margin-top: 5em;
  margin-left: 7em;
}

.imgfoot /*img social network in footer*/
{
  height: 100px;
  width: 250px;
  margin-left: 7em;
}
